@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    <link href="/Resources/css/red.css" rel="stylesheet">
}
<div class="home">
    <section class="container-fluid main-container container-home p-0 revealator-slideup revealator-once revealator-delay1">
        <div class="color-block d-none d-lg-block"></div>
        <div class="row home-details-container align-items-center">
            <div class="col-lg-4 bg position-fixed d-none d-lg-block"></div>
            <div class="col-12 col-lg-8 offset-lg-4 home-details text-left text-sm-center text-lg-left">
                <div>
                    <img src="/Resources/img/Thanos.jpg" class="img-fluid main-img-mobile d-none d-sm-block d-lg-none" alt="my picture" />
                    <h6 class="text-uppercase open-sans-font mb-0 d-block d-sm-none d-lg-block">Chào thế giới !</h6>
                    <h1 class="text-uppercase poppins-font"><span>Tôi là</span> H1NT</h1>
                    <p class="open-sans-font">Tôi là một công dân Việt Nam và hiển nhiên tôi đang ở đây, tôi là một chàng trai trẻ sinh ra và lớn lên tại Kiên Giang. Niềm đam mê của tôi là hệ thống thông tin, tôi có một ước mơ và một mơ ước là được làm DBA.</p>
                    <a href="/Home/About" class="btn btn-about">Xem thêm về tôi</a>
                </div>
            </div>
        </div>
    </section>
</div>